@font-face {
  font-family: "SF Pro Display ";
  src: url("/fonts/SF-Pro-Display-Bold.otf") format("otf"), url("/fonts/SF-Pro-Display-Medium.otf") format("otf"), url("/fonts/SF-Pro-Display-Regular.otf") format("otf"), url("/fonts/SF-Pro-Display-Semibold.otf") format("otf");
}
body {
  font-family: "SF Pro Display", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #242634;
}

h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 0.5em;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1em 1em;
}

.main-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.4em 8.5em;
  max-width: 12.3em;
  width: 100%;
  gap: 10px;
  background: #f7f9fb;
  -webkit-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  max-width: 12.3em;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  line-height: 14px;
  white-space: nowrap;
}

.tab {
  padding: 7px 20px;
  color: #4353ff;
  cursor: pointer;
  border-radius: 40px;
}

.tab.active {
  background-color: #4353ff;
  color: #ffffff;
}

.tab-content {
  margin-top: 1em;
  margin-bottom: 1em;
}

.hidden {
  display: none;
}

.tabs-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 36px;
  height: 36px;
  border: 1px solid lightgrey;
  background-color: transparent;
  color: rgb(67, 83, 255);
  border-radius: 20px;
}
.page-button:hover {
  background-color: rgb(67, 83, 255);
  color: #ffffff;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}
.page-button:focus {
  background-color: rgb(67, 83, 255);
  color: #ffffff;
}

.drop-zone {
  border: 2px dashed #e2e6ea;
  border-radius: 24px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.drop-zone__input {
  color: transparent;
  max-width: 20em;
  width: 100%;
}

.drop-zone__input::-webkit-file-upload-button {
  visibility: hidden;
}

.drop-zone__input::before {
  content: "Click to browse or drag and drop your files";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #242634;
  opacity: 0.5;
  -webkit-user-select: none;
  cursor: pointer;
}

.uploads {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.uploads {
  display: block;
}

.file-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.recent-uploads {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  margin-bottom: 1em;
}

.upload-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  border-bottom: 1px solid #ebeff2;
  width: 100%;
  padding: 1em 0;
}
.upload-item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.upload-item__name {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.upload-item__img {
  width: 16px;
  height: 16px;
  margin-right: 1em;
}
.upload-item__content-size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.upload-item__size {
  margin-right: 1em;
  font-weight: 600;
  font-size: 11px;
  line-height: 12px;
  border: 1px solid #cdd3d8;
  border-radius: 2px;
  padding: 4px 8px;
}
.upload-item__time {
  margin-right: 1em;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.upload-item__btn {
  background-image: url(img/ellipsis.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 3px;
  height: 13px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.last-upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}
.last-upload-text {
  font-size: 12px;
  line-height: 14px;
}
.last-upload-img {
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
}

.view-all-btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 12em;
  white-space: nowrap;
  cursor: pointer;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #242634;
  padding: 7px 20px;
  background: #ffffff;
  border: 1px solid #cdd3d8;
  border-radius: 40px;
}
.view-all-btn:hover {
  background-color: rgb(67, 83, 255);
  color: #ffffff;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #ebeff2;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.profile-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-img {
  width: 2.2em;
  height: 2.2em;
  border-radius: 24px;
  margin-right: 0.8em;
}

.profile-info-text__name {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 2px;
}
.profile-info-text__contacts {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.storage__info {
  border-bottom: 1px solid #ebeff2;
  padding-bottom: 1em;
}
.storage__info-subscription {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;
  margin-bottom: 0.8em;
}
.storage__info-progress {
  border-radius: 7px;
  width: 100%;
  height: 6px;
  margin-bottom: 1em;
}
.storage__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.storage__link-btn {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  margin-right: 1em;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  padding: 6px 20px;
  background: #4353ff;
  color: #ffffff;
  border-radius: 40px;
}
.storage__link-btn:hover {
  background: #ffffff;
  color: #4353ff;
  outline: 0.5px solid #4353ff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.storage__link-offer {
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 11px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #4353ff;
  border: 2px solid #4353ff;
  border-radius: 4px;
  padding: 8.5px 12px;
}

.actions__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 0;
}
.actions__article:first-child {
  border-bottom: 1px solid #ebeff2;
}
.actions__article-subscription {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #242634;
}
.actions__article-btn {
  padding: 7px 20px;
  border: 1px solid #cdd3d8;
  border-radius: 40px;
  background-color: #ffffff;
  cursor: pointer;
}
.actions__article-btn:hover {
  background-color: #4353ff;
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

progress::-webkit-progress-bar {
  background-color: #ebeff2;
  border-radius: 24px;
}

progress::-webkit-progress-value {
  background-color: #4353ff;
  border-radius: 24px;
}

.footer {
  background: #f8f8f8;
}