.container {
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.main-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.4em 1.9em;
  gap: 10px;
  background: #f7f9fb;
  -webkit-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  max-width: 12.3em;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  line-height: 14px;
  white-space: nowrap;
}

.tab {
  padding: 7px 20px;
  color: #4353ff;
  cursor: pointer;
  border-radius: 40px;
}

.tab.active {
  background-color: #4353ff;
  color: #ffffff;
}

.tab-content {
  margin-top: 20px;
}

.hidden {
  display: none;
}

.drop-zone {
  border: 2px dashed gray;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.drop-zone.highlight {
  background-color: lightgray;
}

.uploads {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#view-all-btn {
  margin-top: 20px;
}

.uploads {
  display: block;
}

.file-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.recent-uploads {
  display: block;
}

.upload-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.last-upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.last-upload-text {
  font-size: 12px;
  line-height: 14px;
}
.last-upload-img {
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
}